* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 900px;
  position: relative;
  border-radius: 20px;
  margin: 20px 500px 100px 500px;
  border: solid 2px black;
}
.Appheader {
  display: flex;
  justify-content: center;
  width: 800px;
}
.Applogo {
  width: 750px;
  height: 450px;
  border-radius: 20px;
  filter: saturate(1);
  box-shadow: 5px 5px 5px black;
}
.Applogo:hover {
  filter: grayscale(100);
}
.mytitle {
  width: 800px;
  text-align: center;
  font-size: 60px;
  margin-top: 2px;
}
.rating {
  display: flex;
  justify-content: start;
  width: 800px;
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}
.vote {
  margin-left: 10px;
  font-size: 15px;
}
.mytitle2 {
  width: 800px;
  margin-top: 10px;
}
.description {
  width: 800px;
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 20px;
}
.appfooter {
  width: 800px;
  margin-top: px;
}
.trait {
  width: 800px;
  border: solid 2px black;
}
.mytitle3 {
  width: 800px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.buttongroup {
  display: flex;
  justify-content: space-between;
  width: 800px;;
  margin-bottom: 10px;

}
.button {
  width: 150px;
  height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  background-color: rgb(44, 43, 43);
}
.button:hover {
  background-color: black;
}
.mytitle4 {
  width: 400px;
  border: solid 2px black;
}
.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.button2 {
  width: 100px;
  color: white;
  border-radius: 15px;
  background-color: black;;
}
